*{
    margin: 0px;
    padding: 0px;
}
#Heading {
    text-align: center;
}
.container {
height: 500px;
width: 500px;
background-color: aqua;

display: flex;
flex-wrap: wrap;
/* flex-direction: row; */
/* flex-direction: column; */
justify-content: center;
/* justify-content: end; */
/* justify-content: left; */
align-items: center;
/* align-content: center; */
}
.box {
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 5px;
}
#flexbox1 {
    background-color: brown;
}
#flexbox2 {
    background-color: red;
    align-self: flex-start;
    
}
#flexbox3 {
    background-color: blueviolet;
}